.App {
  /* text-align: center; */
  padding: 20px 20px;
}
.padding{
  padding:20px;
}
.margin{
  margin:20px;
}
.spacer{
  height: 20px;
}
.main-poster .card-img-overlay{
    background-color: rgba(0, 0, 0, 0.713);
}

.black-overlay{
  background-color: rgba(0, 0, 0, 0.563);
}
.main-poster .add-btn{
   background-color: rgba(99, 99, 99, 0.494);
   color: white;
   font-size: 20px;
   border-radius: 10px;
   border:none;
}
.main-poster .btn-danger{
  border-radius: 10px;
}
.btn-row{
  margin-left: 10px;
}

.mid-card{
  height: 30vh;
}
.mid-card img{
  height: 30vh;
  object-fit: cover;
}
.add-actor.btn{
  background-color: rgba(97, 96, 96, 0.583);
  color: white;
  border: none;

}
  
.add-actor.btn:hover{
  background-color: rgba(179, 25, 54, 0.624)
}

.mid-card.card img, .min-card.card{
  border-radius: 5px;
}

.actor-rating *{
  color: rgb(255, 183, 0);
  margin-right: 5px;
}
.btn-link{
  color: rgb(90, 88, 88);
  
}
.btn-link:hover{
  color: rgb(97, 95, 95);
  /* text-decoration: ; */
}